.business_top {
  width: 60%;
  margin: 0 auto;
}

.business_top ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.business_top li {
  text-align: center;
}

.business_top li a {
  color: #555;
}

.business_top li a:hover {
  opacity: 0.5;
}

.business_top li a small {
  color: #ff8856;
}
.business_all {
  position: relative;
  margin: 7.5% 0;
}
.business_block_wrapper {
  display: flex;
  align-items: center;
}
.business_block_1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.business_block_1 img {
  width: 80%;
  height: 100%;
}
.business_block_2 {
  width: 100%;
  margin-right: 10%;
  margin-bottom: 15%;
  text-align: center;
  padding: 3% 3%;
  border: 3px solid;
  margin-top: 10%;
}

.business_block_2 h2 {
  font-size: 2.5em;
  font-weight: normal;
  color: #555;
  line-height: 0.8;
  margin-bottom: 5%;
}

.business_block_2 h2 small {
  font-size: 0.5em;
  color: #ff8856;
}

.business_block_2 h3 {
  font-size: 1.2em;
  font-weight: normal;
  color: #555;
  line-height: 0.8;
  margin-bottom: 5%;
}
.business_list_wrapper {
  position: relative;
  background: #ddd;
  width: 70%;
  margin-left: auto;
  z-index: -1;
  bottom: 10em;
}
.business_list {
  width: 80%;
  margin: 0 auto;
  padding: 20% 0 2.5% 0;
}
.business_item {
  width: 100%;
  background: #fff;
}

.business_item ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5%;
}

.business_item ul li {
  width: 30%;
  margin: 2.5% 5%;
  list-style: circle;
}
.business_btn {
  margin: 5% 0 5% auto;
  width: 30%;
  line-height: 4;
  font-weight: normal;
}

.business_btn a {
  font-weight: normal;
}
.business_block_wrapper_reverse {
  flex-flow: row-reverse;
}

.business_block_1_reverse {
  display: flex;
  justify-content: flex-end;
}

.business_block_2_reverse {
  margin-left: 10%;
  margin-right: unset;
}
.letter {
  width: 70%;
  margin: 0 auto;
}
.letter_wrapper {
  border: 1px solid #111;
  padding: 5% 10% 7.5%;
}

.letter_wrapper h1 {
  position: relative;
  background: #fff;
  text-align: center;
  font-size: 3em;
  bottom: 2em;
  width: 30%;
  margin: 0 auto;
  padding: 0 8%;
  white-space: nowrap;
}
.letter_list h2 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 5%;
  font-weight: normal;
}
.letter_list h2 small {
  font-size: 0.5em;
  color: #ff8856;
}
.letter_item p {
  letter-spacing: 3px;
  line-height: 3;
  margin-bottom: 5%;
}

.letter_item img {
  width: 100%;
  height: 100%;
}
