.company_wrapper {
  width: 60%;
  margin: 0 auto;
}
.company_item {
  display: flex;
}

.company_item span {
  width: 20%;
  font-size: 1.25em;
  border-bottom: 1px solid #444;
  line-height: 1.5;
  padding: 4% 0 4% 2%;
}

.company_item p {
  width: 70%;
  border-bottom: 1px solid #ccc;
  line-height: 1.8;
  padding: 4% 0 4% 2%;
}
